*.log
*.ini
ski.log
conn_cred.ini
/controllers/ski.log
/controllers/conn_cred.ini
/cust_exceptions/ski.log
/cust_exceptions/conn_cred.ini
/cust_logging/ski.log
/cust_logging/conn_cred.ini
/dao/ski.log
/dao/conn_cred.ini
/services/ski.log
/services/conn_cred.ini
/tests/ski.log
/tests/conn_cred.ini
/db_conn/ski.log
/conn_cred.ini
/com.revature.Skiresort/resources/
