body {
    background-color: #1f3036;
}
.navbar .navbar-nav > .nav-item > a:hover,
.navbar .navbar-nav > .nav-item > a:focus{
    background-color: #053353 !important;
    color: #252525 !important;
}